@font-face {
    font-family:'NdsBios';
    src:url('Nintendo-DS-BIOS-vasified.ttf') format('truetype');
}

@media screen and (max-width: 600px) {
    #t {
        font-size: 48px;
    }
}

@media screen and (max-width: 600px) {
    #p {
        font-size: 24px;
    }
}

img { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

body {
    font-family: NdsBios;
    min-height: calc(calc(100vh - 64px) - 16px);
    display: flex;
    flex-direction: column;
    margin: 32px;
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 64px;
    font-weight: normal;
    margin:0;
    margin-top: 64px;
    margin-bottom: 16px;
}

p {
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
}

footer {
    text-align: center;
    margin-top: 32px;
}

.header {
    font-size:64px;
    text-align:center;
}

.menub {
    font-size:32px;
    text-align:center;
}

.archbutton {
    font-family: NdsBios;
    font-size: 32px;
    border: 4px solid;
    background-color: white;
    width: 128px;
    height: 128px;
    cursor: pointer;
}

.archm {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ct {
    margin-top: 32px;
    font-size:32px;
    text-align:center;
}

.comic {
    display: flex;
    justify-content: center;
}

.item {
    margin-left:16px;
    margin-right:16px;
}

.undec {
    color:black;
	text-decoration:none;
}

.undec:active {
    background-color:white;
    filter: invert(1);
}

.socials {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ialign {
    align-items: baseline;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items:center;
}

.imgalign {
    margin-left: 8px;
    margin-right: 8px;
}

.deact {
	opacity: 0.5;
	pointer-events: none;
}

.pnav {
    text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.blink {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; 
    animation-timing-function: steps(2, jump-none);
}

@keyframes blink {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}